/*全局样式*/
body
{
	font-family: "Hiragino Sans GB", "Microsoft YaHei",
             "WenQuanYi Micro Hei", sans-serif;
}
.video-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
   }
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
   }

/*content part*/
.blog
{
	width: 100%;
	margin-left: auto; 
	margin-right: auto;
}
.blog .blog-title
{
	text-decoration: none;
	font-size:20px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;	
	color:#000;
}
.blog .blog-content
{
	margin: 20px;
}
.blog .blog-post-time{
	color: darkgray;
	font-size:14px;
	text-align: center;	
	padding: 10px;
}